<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>dejbug's /link/dump</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="github.css">
<link rel="stylesheet" href="index.css">
<style>
	:root {
		--color-body-bg-top: {{ python blog.py -v gradient-top --default "#14453a" "{source}" }};
		--color-body-bg-bottom: {{ python blog.py -v gradient-bottom --default "#4b0f44" "{source}" }};
	}
	strong {
		display: {{ python blog.py -v header --default block "{source}" }};
		color: {{ python blog.py -v header-color --default tomato "{source}" }};
	}
</style>
<body>
<div id="status" class="version1"></div>
<article>
<a class="github" href="https://github.com/dejbug/dejbug.github.io/"></a>
<div id="meta" class="noise">
	<div id="pill" class="glow">{{ python blog.py --title "{source}" }}</div>
	{{ python blog.py --date "{source}" }} &nbsp; <a href="https://dejbug.github.io/">dejbug.github.io</a></div>
{{ python blog.py "{source}" }}
</article>
<footer>
<span class="noise">{{ python blog.py -v blurb "{source}" }}</span>
<span id="copyleft">Copyleft (<span class="petokraka">&#x2605</span>) Dejan Budimir</span>
<span id="backref">{{ python blog.py -b "{source}" }}</span>
</footer>
<!-- <script src="underscore-min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.6/underscore-min.js" integrity="sha512-2V49R8ndaagCOnwmj8QnbT1Gz/rie17UouD9Re5WxbzRVUGoftCu5IuqqtAM9+UC3fwfHCSJR1hkzNQh/2wdtg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="sticky.js"></script>
</body>
</html>
