<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>dejbug's /link/dump</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
	:root {
		--color-pubtime: hotpink;
		--color-body-bg: #14453a; /* aliceblue */
		--color-body-bg-top: #14453a;
		--color-body-bg-bottom: #4b0f44;
		--color-body-fg: #fff016;
		--color-link-known-visited: #a9dfff;
		--color-link-known: #3affbe; /* teal */
		--color-link: #1d959b; /* #f3f4f2; */
		--color-meta: #b76e93; /* hotpink; */
		/*
		--color-1: #5e8fbb;
		--color-2: #cb8aa6;
		--color-3: #ab3e6d;
		--color-4: #14453a;
		--color-5: #189dff;
		--color-6: #a3f8c0;
		--color-7: #c3ff87;
		--color-8: #189dff;
		--color-blue: #ccddee;
		--color-pink: #eecce9; */ }
	body {
		min-height: 42em;
		font-family: monospace; font-size: 24pt; line-height: 200%;
 		background: linear-gradient(to bottom right, var(--color-body-bg-top), var(--color-body-bg-bottom));
		color: var(--color-body-fg);
/*		filter: contrast(.9);*/
		padding: 1.3em;
		padding-right: 5em;
		text-align: justify;
		hyphens: auto;
/*		word-break: break-all;*/
	}
	footer {
		margin-top: 1.2em;
		color: lightslategray;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: baseline;
	}
	strong {
		color: tomato;
	}
	a, a:visited {
/*		hyphens: none;*/
/*		word-break: keep-all;*/
/*		margin-right: .4em;*/
		color: var(--color-link); text-decoration: none;
	}
	a + a {
/*		This seems to see through naked text!*/
/*		margin-left: 3.4em;*/
	}
	.known-uri {
		border-right: thin solid crimson;
		padding-right: .3em;
		color: var(--color-link-known); font-weight: bold;
	}
	.known-uri:visited {
		color: var(--color-link-known-visited);
	}
	.glow {
		box-shadow: 3px 2px 10px navajowhite;
		border-radius: 15px;
	}
	.petokraka {
		font-size: 160%;
	}
	#pill {
		color: var(--color-pubtime);
		padding: 0 1em;
		margin: 0 2em 0 0;
		float: left;
	}
	#meta {
		color: var(--color-meta);
		transform-origin: top left;
		transform: rotate(90deg);
		position: absolute;
		top: 2em;
		left: calc(100svw - 1.5em);
		width: max-content;
	}
	.noise { }
	@media (max-width: 800px) {
		body {
/*			background: hotpink;*/
/*			font-size: calc(1rem + 100vw / 144);*/
			font-size: 12pt;
			padding: 1em;
			word-break: break-all;
			hyphens: manual;
		}
		a, a:visited {
/*			border-right: thin solid crimson;*/
		}
		.noise {
			display: none;
		}
		footer {
			justify-content: flex-end;
		}
	}
	@media (max-width: 640px) {
		body {
/*			background: pink;*/
			font-size: 10pt;
		}
	}
</style>
<body>
<div id="meta" class="noise">
	<div id="pill" class="glow">{{ sed -nE '/^\s*#\s*(.*?)/{ s/^\s*#\s*//p ; q }' blog.md }}</div>
	{{ date '+%Y-%m-%d' }} &nbsp; dejbug.github.io</div>
{{ python blog.py "{source}" }}
<div style="float: right">
{{ python blog.py -b "{source}" }}
</div>
<footer>
<span class="noise">Look Ma... no cookies!</span>
<span>Copyleft (<strong class="petokraka">&#x2605</strong>) Dejan Budimir</span>
</footer>
</body>
</html>